@keyframes showModal {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


.modal-hide{
    display: none;
}

.modal-show{
    animation: showModal 400ms both;
}

.modal{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 4000;
}

.modal-close{
    position: fixed !important; 
    background-color: rgba(0, 0, 0, 0.288);
    left: -50%;
    right: -50%;
    top: -50%;
    bottom: -20%;
    z-index: 3000 !important;
}

.modal-content{
    width: 100%;
    height: 100%;
    margin: auto;
}

body{
    overflow-x: hidden;
}